.knowledge
  margin-top: 35px
  padding-bottom: 80px
  &__row
    @include flex-center
    gap: 100px

  &__img
    flex: 0 0 481px
    width: 481px
    height: 495px
    img
      width: 100%
      height: 100%

  &__main
    max-width: 550px

  // &__title
    

  &__sub-title
    margin-top: 21px
    @include font($fw: 600, $fz: 24px, $lh: 145%)

  &__text
    margin-top: 21px
    @include font($fw: 400, $fz: 20px, $lh: 145%)
    color: $green-2


@media (max-width: 1044px)
  .knowledge
    &__row
      gap: 50px
    &__img
      flex: 1
      height: auto
    &__main
      flex: 1

@media (max-width: 874px)
  .knowledge
    &__row
      flex-direction: column
    &__img
      width: 70vw
    &__main
      text-align: center
      max-width: 100%
      padding: 0 55px

@media (max-width: 576px)
  .knowledge
    &__img
      width: 100%
      padding: 0 20px
    &__main
      padding: 0

@media (max-width: 425px)
  .knowledge
    &__sub-title
      @include font($fw: 600, $fz: 20px, $lh: 140%)
    &__text
      font-size: 16px