.payment
  padding-bottom: 80px
  &__row
    margin-top: 20px
    display: grid
    grid-template-columns: repeat(2, 1fr)
    column-gap: 53px
    row-gap: 41px

.payment-head
  @include flex-between
  &__main
    max-width: 500px

  // &__title

  &__text
    margin-top: 30px
    @include font($fw: 500, $fz: 20px, $lh: 150%)

  &__img
    width: 552px
    height: 327px
    img
      width: 100%
      height: 100%

.payment-item

  &__img
    width: 100%
    height: auto
    img
      width: 100%

  &__link
    margin-top: 20px
    @include font($fw: 600, $fz: 20px, $lh: 150%)
    color: #035DB0
    text-decoration: underline

@media (max-width: 1200px)
  .payment-head
    &__main
      flex: 1
    &__img
      flex: 1
      height: auto

@media (max-width: 874px)
  .payment-head
    flex-direction: column
    text-align: center
    &__main
      max-width: 720px

    &__img
      width: 100%

    &__text
      margin-top: 12px
      font-size: 16px

  .payment__row
    margin-top: 18px
    grid-template-columns: 1fr
    gap: 30px

  .payment-item
    &__link
      font-size: 16px
